{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{{ form.media }}
<!doctype html>
<html lang="cz">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Připravili jsme pro Vás cvičné i simulace reálných taxi zkoušek a taxi testů, které Vám ukážou kde a kdy chybujete. S námi máte 99% šanci uspět!">
  <meta name="keywords" content="Taxi zkoušky, taxi zkousky, zkousky taxi praha, zkoušky taxi praha, otázky na zkoušky praha, zkoušky na taxi, testy pro řidiče taxi, testy na taxi">
  <meta name="author" content="Taxizkousky.cz">

  <!-- Bootstrap core CSS -->
  <link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
  .btn-dark{
  background-color:#ef7f2d;
  color:white;
  border: none;
  }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #ef7f2d;">
      <a class="navbar-brand" href="{% url 'homepage' %}">Pronájem učebny praha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 10rem">
                <big>Učebny</big>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'ucebna_A' %}">Učebna A</a>
                <a class="dropdown-item" href="{% url 'ucebna_B' %}">Učebna B</a>
                <a class="dropdown-item" href="{% url 'ucebna_C' %}">Učebna C</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="{% url 'cenik' %}"><h5>Ceník</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="{% url 'rezervace' %}"><h5>Rezervovat</h5></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</body>

<title>2019 | Rezervace učebny</title>
<br>
<br>
<br>
<br>
<div class="container" style="max-width: 35rem; min-width: 10rem;">
  <form method='POST'>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="body" style="text-align: center">
      <input class="btn btn-primary" type="submit" name="pokus" value="Odeslat nezávaznou poptávku" style="width: 20rem; background-color: #ef7f2d; border: none">
    </div>
  </form>
</div>
<br>
<br>
<br>
<br>
<div class="container-fluid footer navbar-fixed-bottom" style="text-align: center; height: 3rem; margin: auto;">
  <div class="row" style="padding-top:10px; text-align: center">
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow" style="height: 20rem; border: none">
        <div class="card-body align-items-middle">
          <h3 class="mb-0">
            <a class="text-dark" href="#">Adresa</a>
          </h3>
            <br>
            <p>Otidea vzdělávání, s.r.o.</p>
            <p>Budova METEOR C (3. patro)</p>
            <p>Thámova 681/32</p>
            <p>186 00, Praha 8</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow" style="height: 20rem; border: none">
        <div class="card-body align-items-middle">
          <h3 class="mb-0">
            <a class="text-dark">Kontaktní informace</a>
          </h3>
            <br>
            <p><a href="mailto:vzdelavani@otidea.cz">vzdelavani@otidea.cz</a></p>
            <p><a href="http://otideavzdelavani.cz/">www.otideavzdelavani.cz</a></p>
            <p><a>Telefonní číslo: 295 565 126</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow" style="height: 20rem; border: none">
        <div class="card-body align-items-middle">
          <h3 class="mb-0 align-items-middle">
            <p><a class="text-dark">Kontaktní osoba</a></p>
          </h3>
          <p><a class="text-dark">Miroslava Faltová</a></p>
          <p><img class="card-img" src="{% static 'Mirka.png' %}" alt="Card image cap" style="height: 15rem; max-width:10rem"></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p>&copy; 2019 Otideavzdelavani</p>
</div>
<br>
