{% load staticfiles %}
{% load static %}

<!doctype html>
<html lang="cz">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Nabízíme pronájem moderních a bezpečných školicích učeben s občerstvením v pražském Karlíně. Máme nejlepší prostory pro profesionální školitele.">
  <meta name="keywords" content="pronájem učebny praha, pronájem školicí místnosti, pronájem školicí učebny">
  <meta name="author" content="Karlinské-učebny.cz">
  <!-- Favicons -->
  <link rel="icon" href="{% static 'favicon-32.png' %}" sizes="32x32" type="image/png">
  <link rel="icon" href="{% static 'favicon-57.png' %}" sizes="57x57">
  <link rel="icon" href="{% static 'favicon-76.png' %}" sizes="76x76">
  <link rel="icon" href="{% static 'favicon-96.png' %}" sizes="96x96">
  <link rel="icon" href="{% static 'favicon-120.png' %}" sizes="120x120">
  <link rel="icon" href="{% static 'favicon-128.png' %}" sizes="128x128">
  <link rel="icon" href="{% static 'favicon-144.png' %}" sizes="144x144">
  <link rel="icon" href="{% static 'favicon-228.png' %}" sizes="228x228">
  <link rel="apple-touch-icon" href="{% static 'favicon-32.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon-120.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon-152.png'%}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'favicon-167.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon-180.png'%}">
  <link rel="icon" sizes="192x192" href="{% static 'favicon-192.png'%}">
  <meta name="msapplication-square310x310logo" content="{% static 'favicon-310.png'%}">
  <meta name="google-site-verification" content="oLHEr8KY8jOSuFT7XUYzcTBI0kInhkPGZ8u4pRNSONc" />
  <meta name="google-site-verification" content="CUp669as2pqQSsSQmQY7__U6lcLVcZonenMl5yNIRIc" />
  <meta name="google-site-verification" content="CUp669as2pqQSsSQmQY7__U6lcLVcZonenMl5yNIRIc" />
  <link rel="apple-touch-icon" href="{% static 'favicon-120.png' %}" sizes="120x120">

  <!-- Bootstrap core CSS -->
  <link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
    .btn-dark{
      background-color:#ef7f2d;
      color:white;
      border: none;
    }
  </style>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P2527C7');</script>
<!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2527C7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #ef7f2d;">
      <a href="{% url 'homepage' %}"><img class="navbar-brand" src="{% static 'Karlinskeucebnylogo.png' %}" style="height: 65px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 10rem">
                <big>Učebny</big>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'ucebna_A' %}">Učebna A</a>
                <a class="dropdown-item" href="{% url 'ucebna_B' %}">Učebna B</a>
                <a class="dropdown-item" href="{% url 'ucebna_C' %}">Učebna C</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="{% url 'cenik' %}">
              <h5>Ceník</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="{% url 'rezervace' %}">
              <h5>Rezervovat</h5>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</body>

{% block content %}
{% endblock %}

<!-- FOOTER -->
<div class="container-fluid footer navbar-fixed-bottom" style="text-align: center; margin: auto;">
  <div class="row" style="padding-top:10px; text-align: center">
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow" style="height: 23rem; border: none">
        <div class="card-body align-items-middle">
          <h3 class="mb-0 align-items-middle">
            <a class="text-dark">Kontaktní osoba</a>
          </h3>
          <br>
          <p><a class="text-dark">Miroslava Faltová</a></p>
          <p><img class="card-img" src="{% static 'Mirka.png' %}" alt="Card image cap" style="height: 15rem; max-width:10rem"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow" style="height: 12rem; border: none">
        <div class="card-body align-items-middle">
          <h3 class="mb-0">
            <a class="text-dark">Kontaktní informace</a>
          </h3>
          <br>
          <p><a href="mailto:vzdelavani@otidea.cz">vzdelavani@otidea.cz</a></p>
          <p><a href="http://otideavzdelavani.cz/">www.otideavzdelavani.cz</a></p>
          <p><a>Telefonní číslo: 295 565 126</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow" style="height: 15rem; border: none">
        <div class="card-body align-items-middle">
          <h3 class="mb-0">
            <a class="text-dark">Adresa</a>
          </h3>
          <br>
          <p><b>Pronájem Učeben Praha</b></p>
          <p>Otidea vzdělávání, s.r.o.</p>
          <p>Budova METEOR C (3. patro)</p>
          <p>Thámova 681/32</p>
          <p>186 00, Praha 8</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p>&copy; 2019 Otideavzdelavani</p>
  <p style="font-size:90%;">Spolupráce <a href="https://inspirace-ze-sveta.cz/">Inspirace-ze-sveta.cz</a></p>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
