{% extends "base.html" %}
{% load static %}
{% block content %}
<title>2020 | Ceník pronájmů</title>
<link rel="canonical" href="https://www.karlinske-ucebny.cz/cenik" />
<br>
<br>
<br>
<br>
<div class="container" style="text-align: center">
  <br>
  <h1>Ceník učebny</h1>
  <div class="table-responsive-xl">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="align-text-bottom" style="min-width:8rem">Název učebny</th>
          <th class="align-text-bottom" scope="col" style="min-width:8rem">Cena denní (8.-16. hod)</th>
          <th class="align-text-bottom" scope="col" style="min-width:8rem">Cena půldenní (8.-13. hod)</th>
          <th class="align-text-bottom" style="min-width:8rem" style="min-width:5rem">Kapacita ve školním uspořádání</th>
          <th class="align-text-bottom" style="min-width:8rem">Velikost</th>
          <th class="align-text-bottom" style="min-width:8rem">Projekce</th>
          <th class="align-text-bottom" style="min-width:8rem">Wifi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Učebna A</th>
          <td>5 000,-</td>
          <td>3 500,-</td>
          <td>24 míst</td>
          <td>45 m²</td>
          <td>Dataprojektor s HDMI a Apple TV</td>
          <td>V ceně</td>
        </tr>
        <tr>
          <th scope="row">Učebna B</th>
          <td>7 000,-</td>
          <td>4 500,-</td>
          <td>40 míst</td>
          <td>64 m²</td>
          <td>Dataprojektor s HDMI a Apple TV</td>
          <td>V ceně</td>
        </tr>
        <tr>
          <th scope="row">Učebna C</th>
          <td>5 000,-</td>
          <td>3 500,-</td>
          <td>16 míst</td>
          <td>38 m²</td>
          <td>Plazmová TV s HDMI a Apple TV</td>
          <td>V ceně</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<hr width="60%">
<div class="container" style="text-align: left; font-size: 90%;">
  <div class="row">
    <div class="col">
      <p>* Po skončení akce se počítá s 15 min na úklid a odchod.</p>
      <p>** Při akci přesahující denní pronájem (po 16 hod) je nutno časový rozsah hlásit při objednání. Každá další objednaná hodina nad rámec 16 hod bude účtována částkou 800 Kč. Při nedodržení objednané doby pronájmu bude objednateli účtován poplatek 1 000 Kč.</p>
    </div>
  </div>
</div>
<br>
<hr class="featurette-divider" style="padding-top:2rem">
<div class="container" style="text-align: center">
  <br>
  <h1>Ceník občerstvení</h1>
  <div class="table-responsive-xl">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="align-text-bottom" style="min-width:8rem">Druh balíčku</th>
          <th class="align-text-bottom" style="min-width:8rem">
            <div class="col">
              Základní
            </div>
            <div class="col">
              účtujeme automaticky
            </div>
          </th>
          <th class="align-text-bottom" style="min-width:8rem">
            <div class="col">
              Slaný
            </div>
            <div class="col">
              (2 ks chlebíčku)
            </div>
          </th>
          <th class="align-text-bottom" style="min-width:8rem">
            <div class="col">
              Sladký
            </div>
            <div class="col">
              (2 ks koláče)
            </div>
          </th>
          <th class="align-text-bottom" style="min-width:12rem">
            <div class="col">
              Smíšený
            </div>
            <div class="col">
              (1 ks chlebíčku + 1 ks koláče)
            </div>
          </th>
          <th class="align-text-bottom" style="min-width:12rem">
            <div class="col">
              Celodenní
            </div>
            <div class="col">
              (2 ks chlebíčku + 2 ks koláče)
            </div>
          </th>
          <th class="align-text-bottom" style="min-width:8rem">Ovocná mísa s jogurty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Cena balíčku</th>
          <td>80 kč/os.</td>
          <td>60 kč/os.</td>
          <td>60 kč/os.</td>
          <td>60 kč/os.</td>
          <td>120 kč/os.</td>
          <td>250 kč/přestávka</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock  %}
